In [12]:
import lyricsgenius as genius

import pandas as pd
import numpy as np

In [5]:
client_id = 'CpPnmd53YyFzkOYywbtj1xiesEgqeRaPnApRF7zBHfJvBZgmaRW-zBnGlwhVaa2U'
client_secret = 'zZVGWkq_KzD3p6XtBAIkRPhNcml4MuGicOQ98-d_lmyPIBpIyMJ8cUL9Ri3h4DTMwhxnUpMnJTP7vp-Wc7Rfag'
client_access_token = 'PaNd-wTFrzqIMXWNKlHpyaRruiIPY2GJ0-CftLv-Y5Y2auIqK6Uc-6KDTifNASP3'

In [14]:
df = pd.read_csv('merge_add_hit_20210925.csv')
df

,title,artist_x,artist_y,hit,collab
0,(I Called Her) Tennessee,Tim Dugger,NaN,0.0,0.0
1,"10,000 Reasons (Bless the Lord)",Matt Redman,NaN,0.0,0.0
2,100 Proof,Kellie Pickler,NaN,0.0,0.0
3,101,Alicia Keys,NaN,0.0,0.0
4,110%,Jessie Ware,NaN,0.0,0.0
...,...,...,...,...,...
21310,Danny Phantom,Trippie Redd,Trippie Redd Featuring XXXTENTACION,1.0,1.0
21311,What's Wrong,Rod Wave,Rod Wave,1.0,0.0
21312,Demon Time,Trippie Redd,Trippie Redd Featuring Ski Mask The Slump God,1.0,1.0
21313,Tick Tock,Young Thug,Young Thug,1.0,0.0
21314,Time Heals,Rod Wave,Rod Wave,1.0,0.0

In [13]:
genius = genius.Genius(client_access_token,
              response_format='plain',         # Format of response is plain text
              timeout=5, sleep_time=0.5, 
              remove_section_headers=True,     # Remove headers such as [Intro], [Verse], [Chorus]n etc.
              skip_non_songs=True,             # Skip items that are not songs
              verbose=True)

In [19]:
song = genius.search_song(df['title'][3], df['artist_x'][3])

Searching for "(I Called Her) Tennessee" by Tim Dugger...
No results found for: '(I Called Her) Tennessee Tim Dugger'

In [57]:
df['lyrics'] = ['NaN'] * len(df)

In [58]:
df.iloc[:150,5] = song_lyrics

In [59]:
df

,title,artist_x,artist_y,hit,collab,lyrics
0,(I Called Her) Tennessee,Tim Dugger,NaN,0.0,0.0,NaN
1,"10,000 Reasons (Bless the Lord)",Matt Redman,NaN,0.0,0.0,"Bless the Lord, O my soul, O my soul\nWorship ..."
2,100 Proof,Kellie Pickler,NaN,0.0,0.0,Ain't no rain as cold as the look she just gav...
3,101,Alicia Keys,NaN,0.0,0.0,You used to the sound of a heart that's breaki...
4,110%,Jessie Ware,NaN,0.0,0.0,Carving my initials on your forehead\n\nNow if...
...,...,...,...,...,...,...
21310,Danny Phantom,Trippie Redd,Trippie Redd Featuring XXXTENTACION,1.0,1.0,NaN
21311,What's Wrong,Rod Wave,Rod Wave,1.0,0.0,NaN
21312,Demon Time,Trippie Redd,Trippie Redd Featuring Ski Mask The Slump God,1.0,1.0,NaN
21313,Tick Tock,Young Thug,Young Thug,1.0,0.0,NaN
21314,Time Heals,Rod Wave,Rod Wave,1.0,0.0,NaN

In [ ]:
for i in range(df.loc[df['lyrics']!='NaN'].index.values[-1]+1, len(df)):
    song = genius.search_song(df['title'][i], df['artist_x'][i])
    if not song:
        pass
    else:
        df['lyrics'][i] = song.lyrics

Searching for "Allison's Gone" by Hawk...

In [158]:
df.loc[df['lyrics']!='NaN']#.to_csv('merge_w_lyrics.csv', index=False)

,title,artist_x,artist_y,hit,collab,lyrics
0,(I Called Her) Tennessee,Tim Dugger,NaN,0.0,0.0,NaN
1,"10,000 Reasons (Bless the Lord)",Matt Redman,NaN,0.0,0.0,"Bless the Lord, O my soul, O my soul\nWorship ..."
2,100 Proof,Kellie Pickler,NaN,0.0,0.0,Ain't no rain as cold as the look she just gav...
3,101,Alicia Keys,NaN,0.0,0.0,You used to the sound of a heart that's breaki...
4,110%,Jessie Ware,NaN,0.0,0.0,Carving my initials on your forehead\n\nNow if...
...,...,...,...,...,...,...
15220,All or Nothing,Naughty Boy,NaN,0.0,0.0,"God knows they told me, they really did\nBut I..."
15221,All Out Life,Slipknot,NaN,0.0,0.0,"What a world, the horizon's\nComing like a hel..."
15222,All The Stars,Kendrick Lamar,Kendrick Lamar & SZA,1.0,1.0,"Love, let's talk about love\nIs it anything an..."
15224,All to Myself,Dan + Shay,NaN,0.0,0.0,I'm jealous of the blue jeans that you're wear...
15225,All We Know,Alessia Cara,Alessia Cara,0.0,0.0,St. Nick don't exist anymore\nAnd Oz was just ...